<div class="field inline color">
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
  <span style="background-color: #{{value}}"></span>
  {{col-pick-input value=color key-press='keypressAction'}}
</div>