<div class="field inline color">
  {{#if label}}
    <label>{{label}}</label>
  {{/if}}
  <span style="background-color: #{{value}}"></span>
  {{input value=value type="text" key-press='keypressAction'}}
</div>