// Base Layout
// All base layout styles, grids, containers, etc.
// -------------------------------------------------------------------

.container {
  display: block;
  margin: 0 auto;
  max-width: $container-width;
  padding: 2rem;
  width: 100%;

  &.app {
    padding-bottom: 5rem;
  }

  &.authentication {
    padding: 4rem 0;

    .card {
      margin: 0 0 2rem 0;
      min-height: 30rem;
      padding: 4rem 2rem;

      .logo {
        display: block;
        margin: 0 auto;
      }

      .card-content {
        padding: 2rem 0;
        text-align: left;
      }

      #{$all-buttons} {
        min-width: 12rem;
      }
    }
  }
}

.ember-view {

  &.inline {
    display: inline-block;
  }
}

section {
  margin: 1rem 0;
}
