
.stage {
  background: $white;
  border-radius: 5px;
  box-shadow: $box-shadow;
  display: inline-block;
  height: calc(100vh - #{$timeline-height} - 4rem);
  margin: 2rem 0 0 2rem;
  padding: 2rem;
  position: relative;
  width: calc(100vw - #{$toolbar-width} - 4rem);

  .stage-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .obj {

    &.is-selected {
      box-shadow: 0px 0px 4px rgba($black, 0.75);
      z-index: 999;
    }
  }
}
