
.timeline {
  background: $light;
  border-top: $border;
  bottom: 0;
  //box-shadow: 0px -2px 20px rgba(0,0,0,0.1);
  height: $timeline-height;
  left: 0;
  overflow: auto;
  padding-bottom: 2rem;
  position: absolute;
  //width: 100vw;
  width: calc(100vw - #{$toolbar-width});

  .timeline-control-bar {
    border-bottom: $border;
    padding: 0.5rem 1rem;

    .timeline-controls {
      display: inline-block;
      width: $timeline-x-width;
    }

    .timeline-percent-row {
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: calc(99% - #{$timeline-x-width});

      span {
        color: $dark;
        cursor: default;
        text-align: center;
        width: 32px;
        //display: inline-block;
        //width: 4.45%;
      }
    }
  }

  .timeline-percent-bar {
    padding: 1rem;

    #{$all-buttons} {
      margin: 0;
    }
  }

  #{$all-buttons} {
    margin: 0;
  }

  .object-list {
    padding: 0 0.5rem;

    .timeline-object {
      padding: 0.5rem;

      .obj-info {
        cursor: pointer;
        display: inline-block;
        width: $timeline-x-width;

        .obj-color {
          background: $grey-mid;
          border-radius: $border-radius;
          display: inline-block;
          height: 12px;
          margin-right: 5px;
          vertical-align: middle;
          width: 12px;
        }
      }

      .obj-timeline {
        background: tint($grey-mid, 50%);
        border-radius: $border-radius;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 1rem;
        vertical-align: middle;
        width: calc(99% - #{$timeline-x-width});

        span {
          display: inline-block;
          height: 100%;
          text-align: center;
          width: 100%;

          .keyframe {
            cursor: pointer;
            display: inline-block;
            background: transparent;
            border-radius: 10px;
            height: 12px;
            width: 12px;

            &.is-active {
              background: $dark;

              &:hover {
                background: $dark;
              }
            }

            &:hover {
              background: $grey-mid;
            }
          }
        }
      }

      &.is-selected {
        background: $primary-light;
        border-radius: $border-radius;
      }

      &:hover {
        background: $primary-light;
        border-radius: $border-radius;
      }
    }
  }
}
