
.timeline {
  background: $light;
  //border-top: $border;
  bottom: 0;
  //box-shadow: 0px -2px 20px rgba(0,0,0,0.1);
  height: $timeline-height;
  left: 0;
  overflow: hidden;
  //padding-bottom: 2rem;
  position: absolute;
  //width: 100vw;
  width: calc(100vw - #{$toolbar-width});

  .timeline-controls-sidebar {
    border-top: $border;
    border-right: $border;
    display: inline-block;
    height: 100%;
    float: left;
    background: $light;
    padding: 0.5rem;
    position: absolute;
    z-index: 99;
  }

  .timeline-control-bar {
    border-bottom: $border;
    border-top: $border;
    padding: 0.5rem 1rem;

    .timeline-controls {
      display: inline-block;
      padding-left: 30px;
      width: $timeline-x-width;
    }

    .timeline-percent-row {
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      width: calc(99% - #{$timeline-x-width});

      span {
        color: $dark;
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 100%;
        //display: inline-block;
        //width: 4.45%;
      }
    }
  }

  .timeline-percent-bar {
    padding: 1rem;

    #{$all-buttons} {
      margin: 0;
    }
  }

  #{$all-buttons} {
    margin: 0;
  }

  .object-list {
    //padding: 0 0.5rem;
    max-height: 100%;
    overflow-x: auto;
    padding-bottom: 100px;

    .timeline-object {
      padding: 0.5rem;

      .obj-info {
        cursor: default;
        display: inline-block;
        padding-left: 36px;
        padding-right: 10px;
        width: $timeline-x-width;

        .obj-color {
          background: $grey-mid;
          border-radius: $border-radius;
          display: inline-block;
          height: 12px;
          margin-right: 5px;
          vertical-align: middle;
          width: 12px;
        }

        .obj-name {

        }

        .remove-obj {
          color: $dark;
          cursor: pointer;
          display: inline-block;
          float: right;
          font-size: 0.75rem;
          font-weight: 600;
          margin-top: 3px;
          text-transform: uppercase;
          vertical-align: middle;

          &:hover {
            color: $red;
          }
        }
      }

      .obj-timeline {
        background: tint($grey-mid, 50%);
        border-radius: $border-radius;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 1rem;
        vertical-align: middle;
        width: calc(99% - #{$timeline-x-width});

        span {
          display: inline-block;
          height: 100%;
          text-align: center;
          width: 100%;

          .keyframe {
            cursor: pointer;
            display: inline-block;
            background: transparent;
            border-radius: 10px;
            height: 12px;
            width: 12px;

            &.is-active {
              background: $dark;

              &:hover {
                background: $dark;
              }
            }

            &:hover {
              background: $grey-mid;
            }
          }
        }
      }

      &.is-selected {
        background: $primary-light;
        border-radius: $border-radius;
      }

      &:hover {
        background: $primary-light;
        border-radius: $border-radius;
      }
    }
  }
}
