
.timeline {
  background: $light;
  //border-top: $border;
  bottom: 0;
  //box-shadow: 0px -2px 20px rgba(0,0,0,0.1);
  height: $timeline-height;
  left: 0;
  overflow: hidden;
  //padding-bottom: 2rem;
  position: absolute;
  //width: 100vw;
  width: calc(100vw - #{$toolbar-width});

  .timeline-controls-sidebar {
    border-top: $border;
    border-right: $border;
    display: inline-block;
    height: 100%;
    float: left;
    background: $light;
    padding: 0.5rem;
    position: absolute;
    z-index: 99;

    #{$all-buttons} {
      display: block;
      position: relative;
      width: 100%;

      &.play {
        &:after {
          @include triangle(right, 8px, 8px, $primary);
          content: '';
          display: inline-block;
        }
      }

      &.stop {
        background-color: $primary;

        &:after {
          content: '';
          background: $white;
          display: inline-block;
          height: 8px;
          width: 8px;
        }
      }

      &.loop {
        margin-top: 5px;
        padding: 0.45rem 0.3rem;

        img {
          display: inline-block;
          height: auto;
          width: 14px;
        }

        &.is-active {
          background-color: $primary;
          color: $white;
        }
      }
    }

    .field {
      margin-top: 5px;

      &.seconds {
        display: block;
        max-width: 42px;
        min-width: 0;

        #{$all-text-inputs} {
          max-width: 100%;
          min-width: 0;
          padding: 0.25rem 0.25rem 0.25rem 0.35rem;
        }

        &:after {
          bottom: -8px;
          left: 0;
          text-align: center;
          top: auto;
          width: 100%;
        }
      }
    }
  }

  .timeline-control-bar {
    border-bottom: $border;
    border-top: $border;
    padding: 0.5rem 1rem;

    .timeline-controls {
      display: inline-block;
      padding-left: 50px;
      width: $timeline-x-width;
    }

    .timeline-percent-row {
      display: inline-flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      position: relative;
      width: calc(99.7% - #{$timeline-x-width});

      span {
        color: $dark;
        display: inline-block;
        height: 100%;
        text-align: center;
        width: 100%;
        //display: inline-block;
        //width: 4.45%;
      }

      .play-indicator {
        animation-name: playIndicator;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        background: $primary;
        border-radius: 15px;
        display: inline-block;
        height: 15px;
        position: absolute;
        top: 0;
        width: 15px;
      }
    }
  }

  .timeline-percent-bar {
    padding: 1rem;

    #{$all-buttons} {
      margin: 0;
    }
  }

  #{$all-buttons} {
    margin: 0;
  }

  .object-list {
    //padding: 0 0.5rem;
    max-height: 100%;
    overflow-x: auto;
    padding-bottom: 100px;

    .timeline-object {
      padding: 0.5rem 0.5rem 0.5rem 1rem;

      .obj-info {
        cursor: default;
        display: inline-block;
        padding-left: 50px;
        padding-right: 10px;
        width: $timeline-x-width;

        .obj-color {
          background: $grey-mid;
          border-radius: $border-radius;
          display: inline-block;
          height: 12px;
          margin-right: 5px;
          vertical-align: middle;
          width: 12px;
        }

        .obj-name {

        }

        .remove-obj {
          color: $dark;
          cursor: pointer;
          display: inline-block;
          float: right;
          font-size: 0.75rem;
          font-weight: 600;
          margin-top: 3px;
          text-transform: uppercase;
          vertical-align: middle;

          &:hover {
            color: $red;
          }
        }
      }

      .obj-timeline {
        background: tint($grey-mid, 50%);
        border-radius: $border-radius;
        display: inline-flex;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 1rem;
        vertical-align: middle;
        width: calc(99% - #{$timeline-x-width});

        span {
          display: inline-block;
          height: 100%;
          text-align: center;
          width: 100%;

          .keyframe {
            cursor: pointer;
            display: inline-block;
            background: transparent;
            border-radius: 10px;
            height: 12px;
            transition: 0.1s;
            width: 12px;

            &.is-active {
              background: $dark;
              //border: 2px solid transparent;

              &:hover {
                background: $dark;
              }

              &.is-selected {
                //border-color: $white;
                background: $primary;
                box-shadow: $box-shadow;
                margin-top: -2px;
                height: 16px;
                width: 16px;
              }
            }

            &:hover {
              background: $grey-mid;
            }
          }
        }
      }

      &.is-selected {
        background: $primary-light;
        border-radius: $border-radius;
      }

      &:hover {
        background: $primary-light;
        border-radius: $border-radius;
      }
    }
  }
}

.remove-obj {
  color: $dark;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 0.75rem;
  font-weight: 600;
  margin-top: 3px;
  text-transform: uppercase;
  vertical-align: middle;

  &:hover {
    color: $red;
  }
}
