
.timeline {
  background: $light;
  border-top: $border;
  bottom: 0;
  //box-shadow: 0px -2px 20px rgba(0,0,0,0.1);
  height: $timeline-height;
  left: 0;
  overflow: auto;
  padding-bottom: 2rem;
  position: absolute;
  //width: 100vw;
  width: calc(100vw - #{$toolbar-width});

  .timeline-control-bar {
    //border-bottom: $border;
    padding: 1rem;
  }

  .timeline-percent-bar {
    padding: 1rem;

    #{$all-buttons} {
      margin: 0;
    }
  }

  #{$all-buttons} {
    margin: 0;
  }

  .timeline-object {
    padding: 0.5rem 1rem;

    .obj-info {

      .obj-color {
        background: $grey-mid;
        border-radius: $border-radius;
        display: inline-block;
        height: 12px;
        margin-right: 5px;
        vertical-align: middle;
        width: 12px;
      }
    }
  }
}
