// Buttons
// All styles for creating button elements
// -------------------------------------------------------------------

#{$all-buttons} {
  background: $primary-light;
  border-radius: $border-radius;
  border: 1px solid $primary-light;
  color: $primary;
  cursor: pointer;
  font-family: $body;
  font-size: 0.9rem;
  font-weight: $body-bold;
  margin: $margin 0;
  max-width: 100%;
  outline: none;
  padding: 0.35rem 0.5rem;
  position: relative;
  transition: $transition;
  width: auto;

  &[disabled], &:disabled {
    background: $light;
    color: $grey-mid;
    cursor: initial;

    &:hover {
      color: $grey-mid;
    }
  }

  &:hover {
    border-color: $primary;
  }

  &.secondary {
    background: $light;
    color: $primary;
    text-shadow: none;
  }

  &.small {
    font-size: 0.9rem;
    padding: 0.35rem 0.75rem 0.45rem;
  }
}
