// Buttons
// All styles for creating button elements
// -------------------------------------------------------------------

#{$all-buttons} {
  background: $primary;
  border-radius: $border-radius;
  border-width: 0;
  color: tint($primary, 90%);
  cursor: pointer;
  font-family: $body;
  font-size: 1rem;
  font-weight: $body-bold;
  margin: $margin 0;
  max-width: 100%;
  outline: none;
  padding: 0.5rem 1rem;
  position: relative;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.1);
  transition: $transition;
  width: auto;

  &[disabled], &:disabled {
    background: $light;
    color: $grey-mid;
    cursor: initial;

    &:hover {
      color: $grey-mid;
    }
  }

  &:hover {
    color: $white;
  }

  &.secondary {
    background: $light;
    color: $primary;
    text-shadow: none;
  }

  &.small {
    font-size: 0.9rem;
    padding: 0.35rem 0.75rem 0.45rem;
  }
}
