// Dropdown Elements
// All styles for creating the dropdown element

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: url('/img/down-arrow.png');
  background-position: right 6px top 52%;
  background-repeat: no-repeat;
  border: $border;
  border-radius: $border-radius;
  color: $black;
  cursor: pointer;
  font-family: $body;
  font-size: 1rem;
  margin: 0.5rem 0;
  padding: 0.65rem calc(0.65rem + 10px) 0.65rem 0.65rem;
  position: relative;

  &:hover {
    color: $black;
  }

  &:disabled {
    background: $light;
    color: $grey-dark;

    &:hover {
      color: $grey-dark;
    }
  }
}
